body {
  font-family: 'Gochi Hand', cursive;
}

.pieceListRadioButton {
  align-self: center;
}

.pieceListRadioButton:not(checked) {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

div.selectionIndicator {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fdd365;
  align-self: center;
  visibility: hidden;
  margin-left: -10px;
  margin-right: 15px;
}

.pieceListRadioButton:checked + div.selectionIndicator {
  visibility: visible;
}

.pieceListItem {
  cursor: pointer;
}

.pieceListItem:hover {
  background-color: #f1f3f4;
}

::-webkit-scrollbar {
  width: 0px;
}

.pieceSection:hover {
  cursor: pointer;
}

.header {
  text-decoration: none;
  color: black;
  text-align: center;
}